# Schemas provide structure and default values, configs are for experimenting
config/*
!config/schemas

# Database responses are cached but are too big to be tracked
data/cache/*
!data/cache/.gitkeep

# Dependencies, managed by `poetry` and specified in `pyproject.toml`
.venv

# VSCode project-specific settings
.vscode
